.slick-prev:before, .slick-next:before {

    color: gray !important;
    font-size: 3rem !important;
    
}


.width-item{
    width: 100% !important;
    height: 34rem !important;
}

.active_Film{
    @apply bg-gray-800 text-white
}

.unactive_Film{
    @apply bg-white  text-gray-800 border-gray-800 border
}